{% extends "base.html" %}

{% load app_extras %}
{% block Title %}
Employee
{% endblock%}

{% block code %}

<br><br>
<div class="row">
    <div class="col">
        <h5>filter</h5>
    </div>
    <div class="col">
        By name:
        <input type="text"  id ="search">
    
        <a href="#" onclick="searchh()">search</a>
        <script>
            function searchh(){
                var inp = document.getElementById("search").value;
                var url = "/filter/" +inp +"/"
                window.location.href  = url;
                console.log("se",url)
            }
        </script>
    </div>
    <div class="col">
        By date:
        <input type="date"  id ="datesearch">
    
        <a href="#" onclick="searchh()">search</a>
        <script>
            function searchh(){
                var inp = document.getElementById("search").value;
                var url = "/filter/" +inp +"/"
                window.location.href  = url;
                console.log("se",url)
            }
        </script>
    </div>
</div>
<br><br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Address</th>
        <th scope="col">Occupation</th>
        <th scope="col">Start Date</th>
        <th scope="col">End Date</th>
        <th scope="col">Project</th>
        <th scope="col">Delete</th>
        <th scope="col">Update</th>
      </tr>
    </thead>
    <tbody>
        {% for obj in zipped %}
      <tr>
        <td>{{obj.emp.id}}</td>
        <td>{{obj.emp.name}}</td>
        <td>{{obj.emp.address}}</td>
        <td>{{obj.emp.occupation}}</td>
        <td>{{obj.emp.start_date}}</td>
        <td>{{obj.emp.end_date}}</td>
        <td>{{obj.pro.name}}</td>
        <td><a href = "/delete/{{obj.id}}/{{obj.name}}/"><button>Delete</button></a></td>
        <td><a href = "/update/{{obj.id}}/{{obj.address}}/"><button>Update</button></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% for obj in zipped %}
  <ul>{{obj.pro.name}} - {{obj.pro.dev}} - {{obj.pro.duration}} - {{obj.client.name}}</ul>
{% endfor %}

{% for obj in query %}
<td>{{obj.id}}</td>
<td>{{objname}}</td>
<td>{{obj.address}}</td>
<td>{{obj.occupation}}</td>

<td>{{obj.start_date}}</td>
<td>{{obj.end_date}}</td>
<br>
{% endfor %}

<h4>Projects here</h4>
{% for project in query.project.all %}
  {{project.name}}
{% endfor %}

<br><br>
<h2 class="container-fluid">Form</h2>
<div class="container-fluid">
    <form method="post"> 
        {% csrf_token %}
            {{form.as_p}}
        <button type="submit" name="submit">Submit</button>
    </form>
</div>

<br><br>
<h5>Custom Tags here</h5>
{% subtract 4 3 %}
{% lower "Hello" %}
{% cap_one 5 4 5 %}
{% inc_test %}

{% endblock %}